{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsSingleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["./**/*.css", "./**/*.html","./**/*.jsx", "*.css", "*.html", "*.md"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto"
}
