button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

/* Base */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
