.text {
  font-family: "Roboto Bold";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text--product-price {
  font-size: 18px;
  line-height: 18px;
  color: #d0021c;
  -webkit-line-clamp: 2;
}
