.product-list {
  width: 1250px;
  min-height: 400px;
  margin: 50px auto;
  padding: 20px 10px;
  border-radius: 14px;
  display: flex;
  justify-content: start;
  align-content: center;
  flex-wrap: wrap;
  background-color: #ff5f01;
}

.empty-product-list {
  width: 1250px;
  margin: 50px auto;
  background-color: #007bff;
  color: #fff;
  font-family: "Roboto Regular";
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}
