.search-input {
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  font-family: "Roboto Light";
  font-size: 14px;
  line-height: 16px;
  height: 40px;
  padding: 8px 8px 8px 13px;
  width: calc(100% - 35px);
}

.search-input:focus {
  outline: none;
}
